*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFF7F2;
}
/* Nav */
#title{
    display: inline-block;
    font-size: 4em;
    font-weight: bold;
    margin-left: 2vw;
    padding: 3vh 2vw 0 2vw;
    color: black;
    text-decoration: none;
}
.nav-bar{
    text-decoration: none;
    display: flex;
    background-color: burlywood;
    min-height: 10vh;
}
nav .links{
    display: block;
    margin-left: auto;
    margin-right: 5vw;
}
.nav a{
    font-size: 15pt;
    text-decoration: none;
    display: inline-block;
    height: 10vh;
    color: black;
    padding: 3vh 2vw 0 2vw;
    transition: 0.3s;
}
.links a:hover{
    background-color: rgb(196, 161, 115);
}
/* Content */
.container{
    display: flex;
    height: 70vh;
}
.cont{
    width: 50%;
}
.cont.left{
    background-image: url('img/cup-coffee-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.cont.right{
    margin-left: auto;
}
.pages{
    padding-top: 20vh;
    display: block;
    text-align: center;
}
.cont h2{
    text-align: center;
    font-size: 4em;
    margin-top: 10vh;
}
.cont a{
    text-decoration: none;
    color: #FFF7F2;
    background-color: #deb887;
    width: 50%;
    height: 5vh;
    padding: 1.5vh 0 1vh 0;
    margin: 10px auto;
    display: block;
    font-size: 3em;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.3);
    border-radius: 10px;
    transition: 0.2s;
}
.cont a:hover{
    background-color: #c09e72;
}
/* Footer */
footer{
    background-color: burlywood;
    height: 60vh;
    width: 100%;
    min-height: fit-content;
    padding-bottom: 10vh;
}
.footer-links{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5vw;
}
.details, .dev, .services, .about{
    flex: 1 1 auto;
    display: inline-block;
    height: fit-content;
}
.details{
    margin: 8vh 7vw 0 0;
    flex-grow: 20;
}
.details h3{
    font-size: 4em;
}
.details p{
    margin: 1vh 0 0 0;
    font-size: 3em;
}
.dev{
    margin: 8vh 10vw 0 auto;
}
footer h3{
    font-size: 4em;
}
footer a{
    display: block;
    margin: 1vh 0 0 0;
    text-decoration: none;
    color: black;
    font-size: 3em;
}
.services{
    margin: 8vh 10vw 0 0;
}
.about{
    margin: 8vh 10vw 0 0;
}
.line{
    background-color: black;
    margin: 10vh auto;
    height: 1px;
    width: 90%;
}
.socials{
    display: flex;
    justify-content: center;
}
.socials a{
    width: fit-content;
    margin: 0 2vw 0 2vw;
    height: auto;
}
.socials img{
    width: 30px;
    height: auto;
}
.copyright{
    width: fit-content;
    margin: 5vh auto;
    font-size: 2em;
}